.ParaText {
  font-family: Rubik;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #5d7290;
}

.ParaText:hover {
  cursor: pointer;
  color: black;
}

.heading {
  font-family: Rubik;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #1e1e2f;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 30rem;
}


@media screen and (max-width: 768px){
  .heading{
    font-size: 1.8rem;
  }
}